<div {{idblock}} data-legend="leg_liz_grondwaterstand_hoog" style="display:none;">
    <div class="legenda-element">
        <h3 class="legend-title">Grondwaterstand hoog</h3>
        <div class="legend-gradient" style="background-image: linear-gradient(to right, #ffffcc 0%, #3ba6c1 50%, #253494 100%);">
            <span class="pl-5p text-white">0.0</span>
            <span class="pr-5p text-white">2m-MV</span>  
        </div>
        <div class="legenda-description">
            <p>Per bodemtype is aangegeven wat de maximale infiltratiecapaciteit is (dus de snelheid waarmee het water de bodem in kan) én hoeveel millimeter 
               daadwerkelijk in de bodem geborgen kan worden tot aan de berekende hoogste grondwaterstand bij huidig klimaat. Het gaat dus om de “worst-case” beschikbare bodemberging, 
               waarbij de grondwaterstanden hoog zijn.</p>
        </div> 
        <div class="legenda-source">
            {{ metadatablock }}
        </div> 
    </div>
</div> 