<div {{idblock}} data-legend="leg_galk_maximale_snelheid" style="display:none;">
    <div class="legenda-element">
        <h3 class="legend-title">Maximale wegsnelheid</h3>
        <div class="legenda-labels">
            <div class="flex flex-col">
                <label class="flex items-center gap-10">
                    <span class="w-48 h-6 inline-block bg-[#1F78B4]"></span>
                    30 km/uur
                </label>
                <label class="flex items-center gap-10">
                    <span class="w-48 h-6 inline-block bg-[#B2DF8A]"></span>
                    50 km/uur
                </label>
                <label class="flex items-center gap-10">
                    <span class="w-48 h-6 inline-block bg-[#33A02C]"></span>
                    60 km/uur
                </label>
                <label class="flex items-center gap-10">
                    <span class="w-48 h-6 inline-block bg-[#FDBF6F]"></span>
                    70 km/uur
                </label>
                <label class="flex items-center gap-10">
                    <span class="w-48 h-6 inline-block bg-[#FB9A99]"></span>
                    80 km/uur
                </label>
                <label class="flex items-center gap-10">
                    <span class="w-48 h-6 inline-block bg-[#E31A1C]"></span>
                    100 km/uur
                </label>
            </div>
        </div>
        <div class="legenda-description">

        </div>
        <div class="legenda-source">
            {{ metadatablock }}
        </div>     
    </div>
</div>