<div {{idblock}} data-legend="leg_cdf_pandgasverbruik" style="display:none;">
    <div class="legenda-element">
        <h3 class="legend-title">Gasverbruik (m3)</h3>
        <div class="legend-gradient" style="background-image: linear-gradient(to right, #7f3b08,#e58e2a, #f8edde, #e3e3ee, #2d004b, #2d004b);">
            <span class="pl-5p text-white">0 (m3)</span>
            <span class="pr-5p text-white">5000 (m3)</span>
        </div>
        <div class="legenda-description">
            <p>Data afkomstig uit het jaar 2020 <br>
            Geeft het gasverbruik per postcode gebied weer. Hierdoor is individueel gasverbruik niet te herleiden.</p>
        </div>
        <div class="legenda-source">
            {{ metadatablock }}
        </div>
    </div>
</div>