<div {{idblock}} data-legend="leg_cdf_pandbouwjaar" style="display:none;"> 
    <div class="legenda-element">
        <h3 class="legend-title">Bouwjaar panden</h3>
        <div class="legenda-labels">
            <label class="flex items-center gap-10">
                <span class="inline-block w-12 h-12 bg-[#d7191c]"></span>
                &lt; 1800
            </label>
            <label class="flex items-center gap-10">
                <span class="inline-block w-12 h-12 bg-[#e54f35]"></span>
                1800-1850
            </label>
            <label class="flex items-center gap-10">
                <span class="inline-block w-12 h-12 bg-[#f3854e]"></span>
                1800-1900
            </label>
            <label class="flex items-center gap-10">
                <span class="inline-block w-12 h-12 bg-[#fdb56a]"></span>
                1900-1930
            </label>
            <label class="flex items-center gap-10">
                <span class="inline-block w-12 h-12 bg-[#fed38c]"></span>
                1930-1945
            </label>
            <label class="flex items-center gap-10">
                <span class="inline-block w-12 h-12 bg-[#fff0ae]"></span>
                1945-1960
            </label>
            <label class="flex items-center gap-10">
                <span class="inline-block w-12 h-12 bg-[#f0f8c7]"></span>
                1960-1975
            </label>
            <label class="flex items-center gap-10">
                <span class="inline-block w-12 h-12 bg-[#d1ead6]"></span>
                1975-1985
            </label>
            <label class="flex items-center gap-10">
                <span class="inline-block w-12 h-12 bg-[#b3dce5]"></span>
                1985-1995
            </label>
            <label class="flex items-center gap-10">
                <span class="inline-block w-12 h-12 bg-[#88bfdb]"></span>
                1995-2005
            </label>
            <label class="flex items-center gap-10">
                <span class="inline-block w-12 h-12 bg-[#5a9dc9]"></span>
                2005-2015
            </label>
            <label class="flex items-center gap-10">
                <span class="inline-block w-12 h-12 bg-[#2c7bb6]"></span>
                > 2015
            </label>
            <label class="flex items-center gap-10">
                <span class="inline-block w-12 h-12 bg-[#808080]"></span>
                Onbekend
            </label>
        </div>
        <div class="legenda-description pt-10">
            <p>Klik op het grondvlak van een pand. Vervolgens worden hier het bouwjaar en de energielabels weergegeven voor het aangeklikte adres, indien beschikbaar.<BR>
                Er kunnen meerdere energielabels aan hetzelfde adres gekoppeld zijn.</p>
            <p>Mocht er een timeout melding te zien zijn, probeer dan na enkele seconden opnieuw.</p>
        </div> 
        <div class="legenda-source">
            {{ metadatablock }}
        </div>
    </div>
</div> 