<div {{idblock}} data-legend="leg_dino_grondlagen" style="display:none;">
    <div class="legenda-element">
        <h3 class="legend-title">Grondlagen</h3>
        <div class="legenda-description">
            <label>
                <span class="Legend-colorBox" style="background-color: #efce70;"></span>
                Dekzand en overige periglaciale afzettingen
            </label>
            <label>
                <span class="Legend-colorBox" style="background-color: #ecde9e;"></span>
                Getijdenafzettingen
            </label>
            <label>
                <span class="Legend-colorBox" style="background-color: #fec571;"></span>
                Getijdenafzettingen en/of kustveen op strand- en vooroeverafzettingen
            </label>
            <label>
                <span class="Legend-colorBox" style="background-color: #efa35e;"></span>
                Getijdenafzettingen en/of kustveen op strand- en vooroeverafzettingen op getijdengeulafzettingen
            </label>
            <label>
                <span class="Legend-colorBox" style="background-color: #c6dc6e;"></span>
                Getijdenafzettingen op kustveen
            </label>
            <label>
                <span class="Legend-colorBox" style="background-color: #92c955;"></span>
                Getijdenafzettingen op kustveen op oudere getijden- of komafzettingen
            </label>
            <label>
                <span class="Legend-colorBox" style="background-color: #efa35e;"></span>
                Getijdenafzettingen op kustveen op oudere getijdengeul- of stroomgordelafzettingen
            </label>
            <label>
                <span class="Legend-colorBox" style="background-color: #55ba60;"></span>
                Getijdenafzettingen op oudere getijden- of komafzettingen
            </label>
            <label>
                <span class="Legend-colorBox" style="background-color: #376742;"></span>
                Getijdenafzettingen op oudere getijdengeul- of stroomgordelafzettingen
            </label>
            <label>
                <span class="Legend-colorBox" style="background-color: #aaaa5f;"></span>
                Getijdengeulafzettingen, lokaal bedekt door overige getijdenafzettingen
            </label>

            <label>
                <span class="Legend-colorBox" style="background-color: #de626a;"></span>
                Keileem, deels gestuwd en/of meegestuwd met oudere afzettingen
            </label>
            <label>
                <span class="Legend-colorBox" style="background-color: #e4c331;"></span>
                Kustduinzand op getijdengeulafzettingen
            </label>
            <label>
                <span class="Legend-colorBox" style="background-color: #feec6c;"></span>
                Kustduinzand op strand- en vooroeverafzettingen
            </label>
            <label>
                <span class="Legend-colorBox" style="background-color: #e1584d;"></span>
                Kustveen op oudere getijden- of komafzettingen
            </label>
            <label>
                <span class="Legend-colorBox" style="background-color: #8d2f2f;"></span>
                Kustveen op oudere getijdengeul- of stroomgordelafzettingen
            </label>
            <label>
                <span class="Legend-colorBox" style="background-color: #ecde9e;"></span>
                Oudere getijdenafzettingen, op zee deels omgewerkt
            </label>

            <label>
                <span class="Legend-colorBox" style="background-color: #aaaa5f;"></span>
                Oudere getijdengeulafzettingen
            </label>
            <label>
                <span class="Legend-colorBox" style="background-color: #6f4fa0;"></span>
                Rijn- en Rijn-Maasafzettingen, overwegend grofkorrelig
            </label>
            <label>
                <span class="Legend-colorBox" style="background-color: #ffcc24;"></span>
                Zandige strand- en vooroeverafzettingen
            </label>
            <label>
                <span class="Legend-colorBox" style="background-color: #efa120;"></span>
                Zandige strand- en vooroeverafzettingen op getijdengeulafzettingen
            </label>
        </div>
        <div class="legenda-source">
            {{ metadatablock }}
        </div>
    </div>
</div>