<div {{idblock}} data-legend="leg_epo_pandenergielabel" style="display:none;">
    <div class="legenda-element">
        <h3 class="legend-title">Panden Energielabel</h3>
        <div class="legenda-labels">
            <span class="block my-0 h-24 w-full" 
            style="background-image: linear-gradient(to right, #d7191c 14%,  #f07c4a 14% 28.3%, #fec981 28.3% 42.6%, #ffffc0 42.6% 56.9%, #c4e687 56.9% 70.3%, #77c35c 70.3% 84.6%, #1a9641 84.6%);"> </span> 
            <div class="flex">
                <span class="text-center grow">G</span>
                <span class="text-center grow">F</span>
                <span class="text-center grow">E</span>
                <span class="text-center grow">D</span>
                <span class="text-center grow">C</span>
                <span class="text-center grow">B</span>
                <span class="text-center grow">A</span>
            </div>
        </div>
        <div class="legenda-description mt-20">
            <p> Klik op het grondvlak van een pand. Vervolgens worden hier het bouwjaar en de energielabels weergegeven voor het aangeklikte adres, 
                indien beschikbaar.
            <p>Er kunnen meerdere energielabels aan hetzelfde adres gekoppeld zijn.</p>
            <p>Mocht er een timeout melding te zien zijn, probeer dan na enkele seconden opnieuw.</p>
        </div>
        <div class="legenda-source">
            {{ metadatablock }}
        </div>
    </div>
</div>