<div {{idblock}} data-legend="leg_tomtom_verkeersdoorstroom" style="display:none;">
    <div class="legenda-element">
        <h3 class="legend-title">Verkeersdoorstroom</h3>
        <div class="legend-labels">
            <div class="legenda-element">
                <table class="w-full max-w-[500px]">
                    <tbody><tr>
                        <th>Omschrijving</th>
                        <th>Extra reistijd</th>
                        <th>Kleur</th>
                    </tr>
                    <tr style="color:rgb(20, 185, 20);">
                        <td>Geen vertraging</td>
                        <td>0% - 5%</td> <!--1.00 & 0.95-->
                        <td>Groen</td>
                    </tr>
                    <tr style="color:#F1C40F;">
                        <td>Lichte vertraging </td>
                        <td>5% - 20%</td><!--0.95-0.8-->
                        <td>Geel</td>
                    </tr>
                    <tr style="color:orange;">
                        <td>Redelijke oponthoud </td>
                        <td>20% - 50%</td><!--0.79-0.5-->
                        <td>Oranje</td>
                    </tr>
                    <tr style="color:red;">
                        <td>Ernstige oponthoud</td>
                        <td>Meer dan 50%</td><!--Onder 0.49-->
                        <td>Rood</td>
                    </tr>
                    <tr style="border-color: black;">
                        <td>Ontbrekende data</td>
                        <td>Onbekend</td>
                        <td>Wit</td>
                    </tr>
                </tbody></table>
            </div>
        </div>
        <div class="legenda-description">
            
        </div>
        <div class="legenda-source">
            {{ metadatablock }}
        </div>
    </div>
</div>