<div {{idblock}} data-legend="leg_zdakje_zonnepanelen_geschikt" style="display:none;">
    <div class="legenda-element">
        <h3 class="legend-title">Geschikt voor zonnepanelen</h3>
        <div class="legenda-labels">
            <label class="block">
                <span class="inline-block w-12 h-12" style="background-color: #1a9641;"></span>
                Geschikt
            </label>
            <label class="block">
                <span class="inline-block w-12 h-12" style="background-color: #fec981;"></span>
                Mogelijk
            </label>
            <label class="block">
                <span class="inline-block w-12 h-12" style="background-color: #d7191c;"></span>
                Niet
            </label>
            <label class="block">
                <span class="inline-block w-12 h-12" style="background-color: gray;"></span>
                Onbekend
            </label>
        </div>
        <div class="legenda-description pt-10">
            <p>Data afkomstig van <a href="https://www.zonnedakje.nl/" target="_blank">Zonnedakje.nl</a> 2023</p>
            <p> Klik op het grondvlak van een pand. Vervolgens worden hier het bouwjaar en de energielabels weergegeven voor het aangeklikte adres, indien beschikbaar.<BR>Er kunnen meerdere energielabels aan hetzelfde adres gekoppeld zijn. <BR><BR>Mocht er een timeout melding te zien zijn, probeer dan na enkele seconden opnieuw.</p>
        </div>
        <div class="legenda-source">
            {{ metadatablock }}
        </div>
    </div>
</div>