<div {{idblock}} data-legend="leg_liz_inundatie" style="display:none;">
    <div class="legenda-element">
        <h3 class="legend-title">Inundatie 10</h3>
        <div class="legend-gradient" style="background-image: linear-gradient(to right, #f7fbff 0%, #08306b 100%);">
            <span class="pl-5p text-white">0.0</span>
            <span class="pr-5p text-white">0.3m</span>
        </div>
        <div class="legenda-description">
            <p> Wateroverlastlocaties in uw gemeente zien die statistisch gezien één keer per tien jaar voorkomen. 
                De resultaten geven een goede indicatie van de te verwachten overlastlocaties bij hevige neerslag.</p>
        </div>
        <div class="legenda-source">
            {{ metadatablock }}
        </div>
    </div>
</div>