<div {{idblock}} data-legend="leg_liz_waterberging" style="display:none;">
    <div class="legenda-element">
        <h3 class="legend-title">Waterberging</h3>
        <div class="legend-gradient" style="background-image: linear-gradient(to right, #ffffd4 0%, #f38821 50%, #993404 100%);">
            <span class="pl-5p text-white">0.0</span>
            <span class="pr-5p text-white">100mm</span>
        </div>
        <div class="legenda-description">
            <p> De laag toont de beschikbare berging van water in de bodem (mm) per peilgebied bij huidig klimaat. 
                De beschikbare bodemberging is berekend uitgaande van de hoogste grondwaterstand en het Nationaal Watermodel (NWM). </p>
        </div>
        <div class="legenda-source">
            {{ metadatablock }}
        </div>
    </div>
</div>