<div {{idblock}} data-legend="leg_tomtom_verkeersdoorstroom_historisch" style="display:none;">
    <div class="legenda-element">
        <h3 class="legend-title">Verkeersdoorstroom (Historisch)</h3>
        <div class="legenda-labels">
            <table class="w-full">
                <tbody>
                    <tr>
                        <th>Verkeersdoorstroom</th>
                        <th>Extra reistijd</th>
                        <th>Kleur</th>
                    </tr>
                    <tr class="text-[#14b814]">
                        <td>Geen vertraging</td>
                        <td>0% - 5%</td>
                        <td>Groen</td>
                    </tr>
                    <tr class="text-[#F1C40F]">
                        <td>Lichte vertraging </td>
                        <td>5% - 20%</td>
                        <td>Geel</td>
                    </tr>
                    <tr class="text-[#ffa600]">
                        <td>Redelijke oponthoud </td>
                        <td>20% - 50%</td>
                        <td>Oranje</td>
                    </tr>
                    <tr class="text-[#ff0000]">
                        <td>Ernstige oponthoud</td>
                        <td>Meer dan 50%</td>
                        <td>Rood</td>
                    </tr>
                    <tr class="border-[#000000]">
                        <td>Ontbrekende data</td>
                        <td>Onbekend</td>
                        <td>Wit</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="legenda-description">
            
        </div>
        <div class="legenda-source">
            {{ metadatablock }}
        </div>
    </div>
</div>