<div {{idblock}} data-legend="leg_liz_wateroverlast" style="display:none;">
    <div class="legenda-element">
        <h3 class="legend-title">Wateroverlast</h3>
        <div class="legend-gradient" style="background-image: linear-gradient(to right, #f7fbff 0%, #08306b 100%);">
            <span class="pl-5p text-white">0.0</span>
            <span class="pr-5p text-white">0.3mm</span>
        </div>
        <div class="legenda-description">
            <p>Deze kaartlaag maakt inzichtelijk waar waarschijnlijk wateroverlast zal ontstaan direct na afloop van een extreme bui van 100 mm in 2 uur.</p>
        </div>
        <div class="legenda-source">
            {{ metadatablock }}
        </div>
    </div>
</div>