<div {{idblock}} data-legend="leg_liz_gevoelstemperatuur" style="display:none;">
    <div class="legenda-element">
        <h3 class="legend-title">Gevoelstemperatuur</h3>
        <div class="legend-gradient" style="background-image: linear-gradient(to right, #1a9641 0%, #fee8a5 50%, #d7191c 100%);">
            <span class="pl-5p text-white">38<sup>o</sup> C</span>
            <span class="pr-5p text-white">52<sup>o</sup> C</span>
        </div>
        <div class="legenda-description">
            <p>De kaart toon de Physical Equivalent Temperature (PET/Gevoelstemperatuur) op een warme dag die 1 keer per 1000 zomerdagen voorkomt in het 
                huidige klimaat (onder een zomerdag valt de periode van 1 april t/m 30 september).</p>
        </div>
        <div class="legenda-source">
            {{ metadatablock }}
        </div>
    </div>
</div>