<div {{idblock}} data-legend="leg_liz_gevoeligheiddroogte" style="display:none;">
    <div class="legenda-element">
        <h3 class="legend-title">Gevoeligheid droogte</h3>
        <div class="legend-gradient" style="background-image: linear-gradient(to right,  #253494 0%, #3ba6c1 50%, #ffffcc 100%);">
            <span class="pl-5p text-white">0.0</span>
            <span class="pr-5p text-black-lighter">3m</span> 
        </div>
        <div class="legenda-description">
            <p>Deze laag laat gebieden zien die gevoelig zijn voor droogte. Berekend o.b.v. het verschil tussen het maaiveld en de waterstand in het oppervlaktewater. 
                Hoe hoger het maaiveld, hoe dieper de grondwaterstand kan zakken en hoe meer de bodem kan uitdrogen.</p>
        </div>
        <div class="legenda-source">
            {{ metadatablock }}
        </div>
    </div>
</div>