<div {{idblock}} data-legend="leg_alk_bomen" style="display:none;">
    <div class="legenda-element">
        <h3 class="legend-title">Bomen</h3>
        <div class="legenda-labels flex flex-col">
            <label>
                <span class="rounded-full w-12 h-12 inline-block" style="background-color: green;"></span>
                Bomen
            </label>
            <label>
                <span class="rounded-full w-12 h-12 inline-block" style="background-color: #cccc00;"></span>
                Monumentale bomen
            </label>
        </div>
        <div class="legenda-description">
            
        </div>
        <div class="legenda-source">
            {{ metadatablock }}
        </div>
    </div>
</div> 