<div {{idblock}} data-legend="leg_alk_parkeervlakken" style="display:none;">
    <div class="legenda-element">
        <h3 class="legend-title">Parkeervlakken</h3>
        <div class="legenda-labels flex flex-col">
            <label class="flex items-center gap-10">
                <span class="w-12 h-12 inline-block -mt-3 bg-[#888888]"></span>
                Huidige parkeervlakken  
            </label>
        </div>
        <div class="legenda-description pt-20">
            <p> Definitie parkeervlak: wegdeel bestemd voor het parkeren van motorvoertuigen.</p>
        </div>   
    </div>
</div>