<div {{idblock}} data-legend="leg_liz_grondwaterstand_laag" style="display:none;">
    <div class="legenda-element">
        <h3 class="legend-title">Grondwaterstand laag</h3>
        <div class="legend-gradient" style="background-image: linear-gradient(to right, #1a9641 0%, #fee8a5 50%, #d7191c 100%);">
            <span class="pl-5p text-white">0.0</span>
            <span class="pr-5p text-white">2m-MV</span>   
        </div>
        <div class="legenda-description">
            <p>Deze laag toont de gemiddelde laagste grondwaterstand voor het huidige klimaat.</p>
        </div> 
        <div class="legenda-source">
            {{ metadatablock }}
        </div> 
    </div>
</div> 