<div {{idblock}} data-legend="leg_liz_hittestress" style="display:none;">
    <div class="legenda-element">
        <h3 class="legend-title">Hittestress</h3>
        <div class="legend-gradient" style="background-image: linear-gradient(to right, #2b83ba 0%, #fee8a4 50%, #d7191c 100%);">
            <span class="pl-5p text-white">Laag</span>
            <span class="pr-5p text-white">Hoog</span>
        </div> 
        <div class="legenda-description">
            <p>Deze kaartlaag geeft aan waar hittestress kan optreden tijdens zomerse dagen. De rode gebieden zijn zeer gevoelig voor hittestress, de blauwe gebieden nauwelijks. </p>

            <!-- placeholder voor info uit metadatatabel bron + laatste update -->
            
        </div>
        <div class="legenda-source">
            {{ metadatablock }}
        </div> 
    </div>
</div> 