<div {{idblock}} data-legend="leg_cdf_pandenergieverbruik" style="display:none;">
    <div class="legenda-element">
        <h3 class="legend-title">Energieverbruik</h3>
        <div class="legenda-labels">
            <label class="inline-block mb-5">
                Stroomverbruik (kWh)
            </label>
        </div>
        <div class="legend-gradient" style="background-image: linear-gradient(to right, #313695,#4367ad, #7eb3d4, #bde1ed, #f8f8c5, #feeea7, #fecc7e, #fa9d5b, #ac0726);">
            <span class="pl-5p text-white">0 (kWh)</span>
            <span class="pr-5p text-white">&gt;7000 (kWh)</span>
        </div>
        <div class="legenda-description">
            <p>Data afkomstig uit het jaar 2020 <br>
            Geeft het elektriciteitsverbruik per postcode gebied weer. Hierdoor is individueel elektriciteitverbruik niet te herleiden.</p>
        </div>
        <div class="legenda-source">
            {{ metadatablock }}
        </div>
    </div>
</div>